<!-- app/views/dogs/index.html.erb -->
<main class="max-w-7xl mx-auto px-4 py-12">
  <h1 class="text-4xl md:text-5xl font-extrabold text-green-800 mb-8 text-center tracking-tight uppercase drop-shadow-md">Filhotes Disponíveis </h1>

  <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-12">
    <% @dogs.each do |dog| %>
<article class="overflow-hidden rounded-3xl shadow-md hover:shadow-xl transition-transform transform hover:-translate-y-1">

  <!-- Imagem do cão -->
  <div class="h-56 sm:h-64 md:h-72 lg:h-60 w-full overflow-hidden">
    <% if dog.images.attached? %>
      <%= image_tag url_for(dog.images.first.variant(resize_to_fill: [600, 360]).processed), alt: dog.name, class: "w-full h-full object-cover" %>
    <% else %>
      <%= image_tag "default-dog.jpg", alt: "Dog padrão", class: "w-full h-full object-cover" %>
    <% end %>
  </div>

  <!-- Informações do cão com fundo visível -->
 <div class="-mt-6 relative z-10 mx-4 bg-green-800 text-white p-4 rounded-2xl shadow-xl">

    <h2 class="text-xl font-bold text-green-900 truncate"><%= dog.name.titleize %></h2>
    <p class="text-green-800 text-sm mb-4"><%= dog.breed %> • <%= dog.age %> anos</p>
    <%= link_to "Ver detalhes", dog_path(dog), class: "inline-block bg-green-700 text-white font-medium px-4 py-2 rounded-full hover:bg-green-600 transition" %>
  </div>

</article>

    <% end %>
  </section>
</main>