<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>SegFox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all" %>
    <%= javascript_importmap_tags %> <!-- Importmap + Stimulus -->
  </head>

  <body
    class="min-h-screen bg-fixed bg-cover bg-center bg-no-repeat text-secondary"
    style="background-image: url(<%= asset_path 'canine.jpg' %>);"
  >
    <div class="relative z-10">
      <%= render "shared/navbar" %>
      <%= yield %>
    </div>
  </body>
</html>
